.row{
  width: 100%;
  margin:0;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

li{
  text-decoration: none;
}


.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1a202c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin-right: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.footer-links ul li {
  margin-right: 10px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 0;
}

.footer-copyright {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

@media (min-width: 992px) {
  .me-auto {
    justify-content: flex-end;
  }
}
